
<hr>
<%if @current_user.present? %>
  <button type="button" class="btn btn-secondary create">
    <%= link_to 'Create New idea', new_idea_path  %>
  </button>
<% end %>

<div class = "jumbotron">
  <h2 id="frontTitle">Browse start up ideas</h2>
  <hr>
  <ul>
    <% @ideas.each do |idea| %>
    <li class = "list">
      <a href="<%= idea_path(idea.id)  %>">
          <%= idea.idea_title %>
    </li>
    <% end %>
  </ul>
</div>
