/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h2 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
  display: inline;
}

h5 {
  display: inline;
  color: white;

}



.floatr {
  float: right;
}

.floatlogin {
  float: right;
}


#body {
  height: 120px;
  width: 50%;
}

.userC{
  color: blue;
}

.commentli {
  list-style-type: none;
}
